* {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #362b24;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  border: none;
}
a {
  text-decoration: none;
}
