.fa-folder-open {
  font-size: 32px;
  margin-left: -16px;
  margin-right: 8px;
}

.latest-order-table tr td {
  font-family: "Lato", sans-serif !important;
}
.latest-order-table tr {
  padding: 16px 0;
}
.latest-container table {
  width: 100%;
}
.latest-container .latest-order-table tr td a {
  font-family: "Lato";
  margin-left: 12px;
  text-decoration: underline;
}
